/*
*
*/

body {
  display: flex;
  position: fixed;
  overflow: hidden;
  align-self: center;
  align-items: center;
  vertical-align: center;
  justify-content: center;
  flex-direction: column;

  top: 0;
  left: 0;
  z-index: 0;

  min-width: 100vw;
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  height: 100vh;
  max-height: 100vh;

  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: clamp(1rem, 2vw, 1.125rem);
  line-height: 1.5;

  color: #dfdfdf;
  background-color: #202029;
}
