/*
*
*/

@font-face {
    font-family: "FiraMono";
    font-weight: normal;
    src: url("/static/assets/font/normal.otf") format("opentype");
}

@font-face {
    font-family: "FiraMono";
    font-weight: medium;
    src: url("/static/assets/font/medium.otf") format("opentype");
}

@font-face {
    font-family: "FiraMono";
    font-weight: bold;
    src: url("/static/assets/font/bold.otf") format("opentype");
}
