/*
*
*/

footer {
  z-index:10;
  display: none;
  flex-direction: column;
  align-self: center;
  align-items: center;
  vertical-align: center;
  justify-content: center;
  width: fit-content;
  height: 5vmin;
  margin-top: -5vmin;
  background-color: transparent;
}

#footer-text {
  color: #fff;
  text-align: center;
  font-family: "Poppins";
  font-weight: normal;
  font-size: 13px;
}

@media (min-height: 780px) {
  footer {
    display: flex;
  }
}
