/*
*
*/

#project {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-self: center;
  align-items: center;
  vertical-align: middle;
  justify-content: flex-start;

  margin: 0 0 0 0;
  padding: 7.5vh 0 2.5vh 0;

  min-width: 100%;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  height: 100%;
  max-height: 100%;

  border-radius: 0px!important;
}

@media only screen and (min-width: 1000px) {
  #project {
    justify-content: center;
    min-width: 868px;
    width: 100%;
    max-width: 1368px;
    min-height: 80%;
    height: 90vh;
    max-height: 1080px;
    border-radius: 6px!important;
  }
}

#content {
  min-width: 200px;
  width: 90vw;
  max-width: 968px;
}

#preview {
  display: block;
  overflow: hidden;
  border: 1px solid #000;
  border-radius: 12px;
  box-shadow: 0 0 24px #00000075;
  min-width: 96px;
  width: 20vmin;
  min-height: 96px;
  height: auto;
  margin: 0 2vmin auto 2vmin;
}

#command-selector {
  z-index: -1;
  display: flex;
  flex-direction: row;
}

#command-selector>div {
  opacity: 0.33;
  cursor: pointer;
  user-select: none;
  width: fit-content;
  padding: 6px 12px;
  color: #ffffff;
  font-family: "Poppins";
  font-size: 13px;
  font-weight: normal;
  background-color: #202029;
  border: 1px solid #DDDFFF;
  border-bottom-width: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

#command-selector>.selected {
  opacity: 1 !important;
  padding: 6px 24px;
  box-shadow: 0 -1px 12px #00000099;
}

#command-selector>button {
  opacity: 1;
  cursor: pointer;
  user-select: none;
  margin: 0 0 0 auto;
  color: #ffffff;
  font-family: "Poppins";
  font-size: 13px;
  background-color: #202029;
  border: 1px solid #DDDFFF;
  border-bottom-width: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

#command-snippet {
  z-index: 1;
  padding: 12px 24px;
  margin-bottom: 16px;
  color: #ffffff;
  font-family: "Poppins";
  font-size: 16px;
  background-color: #202029;
  border: 1px solid #ffffff;
  border-radius: 4px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  box-shadow: 0 1px 12px #00000099;
}

#options {
  display: flex;
  overflow: auto;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  padding: 1.25vmin 0;
}

#options>*>*{
  min-width: 100%;
  width: 100%;
  max-width: 100%;
}

@media (min-width: 1000px) {
  #options {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  #options>*>*{
    min-width: unset;
    width: unset;
    max-width: unset;
  }
}

#copy-button {
  cursor: pointer;
  padding: 5px;
  border: none;
  background: none;
  font-size: 1.2rem;
  color: #333;
}
