/*
*
*/
:root {
  --hover-bg: #29292929;
}

*,
*::before,
*::after {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: default;
  font-weight: normal;
  transition: .33s ease-in-out;
}

body {
  z-index: 0;
  overflow-x: hidden;
  overflow-y: auto;

  display: flex;
  vertical-align: middle;
  justify-content: flex-start;
  flex-direction: column;

  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: clamp(1rem, 2vw, 1.125rem);
  line-height: 1.5;

  color: #dfdfdf;
  background-color: #111;
}

main {
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  color: #dfdfdf;
  background-color: transparent;
}

main>h1,main>h2 {
  user-select: none;
  max-width: 98vw;
}

input {
  width: 286px;
  height: 32px;

  padding: 0 12px;

  font-family: default;
  font-weight: normal;
  font-size: 18px;

  color: #FFF;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.45);
  border-bottom-width: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  background: rgba(0, 0, 0, 0.45);
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #202029;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #3d3d3d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9d9d9d;
}

img,svg,i,h1,h2,h3,button {
  user-select: none;
  text-align: center;
  background-color: transparent;
  transition: .33s ease-in-out;
}

h1 {
  color: #ffffffdd;
  font-family: "Poppins";
  font-size: 22px;
  font-weight: normal;
  line-height: 1.25;
  letter-spacing: -1px;
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  color: #ffffffaa;
  font-family: "Poppins";
  font-size: 22px;
  font-weight: normal;
  line-height: 1.25;
  letter-spacing: -1px;
  width: 100%;
  margin: 12.5vh auto 0 auto;
}

h3 {
  text-align: center;
  color: #ffffff88;
  font-family: "Poppins";
  font-size: 18px;
  font-weight: normal;
  line-height: 1.25;
  letter-spacing: -1px;
  width: 100%;
  margin: 0 auto 10vh auto;
}

p {
  font-family: "Poppins";
  text-wrap: balance;
  color: inherit;
  margin-bottom: 13px;
}

button {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  min-width: 126px;
  padding: 8px 24px;
  margin: 6px 12px 6px 0;

  color: #fff;
  font-size: 13px;
  font-family: "Poppins";
  font-weight: normal;
  line-height: 1.5;
  text-align: center;
  text-transform: unset;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;

  outline: none;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.25);

  transition: all 0.3s ease-in-out;

  background: rgba(0, 0, 0, 0.25);
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -moz-column-gap: 0.66rem;
       column-gap: 0.66rem;
}

.hero {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  min-width: 100vw;
  width: 100vw;
  max-width: 100vw;

  min-height: 100vh;
  height: 100vh;
  max-height: 100vh;

  margin: 0 0 0 0;
  padding: 7.5vh 0 5vh 0;
}

.hero>img {
  width: 100%;
  height: 50vh;
}

.hero>svg {
  width: 100%;
  height: 25vh;
}

.hero>h2 {
  font-size: clamp(13px, 1.25vw, 22px);
}

.about-us {
  text-align: center;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 48px;
}

.about-us,
.about-values {
  font-size: 16px;
  width: 100%;
  max-width: 1300px;
}

.about-us > .about-content > h2 {
  text-align: center;
  width: 100%;
  margin: 0 0 32px 0 !important;
  padding: unset !important;
}

.about-us > .about-values > h2 {
  text-align: center;
  width: 100%;
  margin: 32px 0 0 0 !important;
  padding: unset !important;
}

.about-us > .about-content > p {
  padding: 0 clamp(8px, 10vmin, 420px) !important;
}

.about-us > .about-values > ul > li {
  padding: 8px clamp(8px, 10vmin, 420px) !important;
}

.about-us > .about-values > ul > li > strong {
  font-family: "Poppins";
  font-weight: 600;
}

.about-values ul {
  list-style: none;
  padding: 32px;
}

.about-values li {
  width: 100%;
  padding: 32px;
  border-bottom: 1px solid #dadada66;
}

.about-values li:last-child {
  border-bottom: none;
}

.about-values li:hover {
  background-color: var(--hover-bg);
}

.signature {
  color: #666;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}

.signature>img {
  width: 286px;
  height: 286px;
}

.about-bashful-sh {
  text-align: center;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 48px;
}

.about-bashful-sh .about-content {
  font-size: 16px;
}

.about-bashful-sh h2 {
  text-align: center;
  width: 100%;
  margin: unset !important;
  padding: unset !important;
}

.about-bashful-sh p {
  padding: 16px clamp(8px, 10vmin, 420px) !important;
}

.bashful-sh-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align:center;
}

.glass {
  background: rgba(0, 0, 0, 0.45);
  border-radius: 4px;
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(0, 0, 0, 0.45);
}

.socials-section {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  justify-content: space-evenly;

  width: 100%;
  max-width: 666px;
  margin: 0 auto 12.5vh auto;

  color: #DADADA;
  font-size: 48px;
  text-decoration: none;
}

.socials-section>a {
  color: #DADADA;
}

#waveform {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;

  display: none;
  opacity: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(240, 240, 240, 0);
  transition: .5s ease-in-out;
}

#recordButton {
  color: #fff;
  transition: .5s ease-in-out;
}

#recordButton.recording {
  text-shadow: 1px 1px 20px rgba(65, 136, 255, 1);
}

.spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
